<section class="about-section fade-in" id="about">
  <div class="about-wrapper">

    <!-- LEFT : IMAGE -->
    <div class="about-image">
      <img src="assets\My Pic.webp" alt="Praveen Raj">
    </div>

    <!-- RIGHT : CONTENT -->
    <div class="about-content glass">

      <h2>About Me</h2>

      <p>
        I'm <strong>Praveen Raj</strong>, a Web and Java Developer with
        hands-on experience in building scalable, secure, and high-performance
        applications using modern technologies.
      </p>

      <p>
        I specialize in full-stack development with
        <strong>Angular</strong> and <strong>Spring Boot</strong>, focusing on
        microservices architecture, backend security, and clean code practices.
      </p>

      <!-- STATS -->
      <div class="about-stats">
        <div class="stat-card">
          <h3>1+</h3>
          <span>Year Experience</span>
        </div>
        <div class="stat-card">
          <h3>3</h3>
          <span>Projects</span>
        </div>
        <div class="stat-card">
          <h3>12+</h3>
          <span>Technologies</span>
        </div>
      </div>

      <!-- TECH STACK -->
      <div class="about-tags">
        <span>Java</span>
        <span>Spring Boot</span>
        <span>Angular</span>
        <span>Microservices</span>
        <span>Spring Security</span>
        <span>Spring Validation</span>
        <span>MySQL</span>
        <span>Docker</span>
        <span>AWS</span>
        <span>Kafka</span>
        <span>Eureka Server</span>
        <span>API Gateway</span>
        <span>Git & GitHub</span>
        <span>Postman</span>
      </div>

      <!-- TIMELINE -->
      <div class="timeline">
        <h3>Education & Experience</h3>

        <div class="timeline-item">
          <span class="dot"></span>
          <div class="timeline-content">
            <h4>BCA</h4>
            <p>The Oxford College of Science</p>
            <small>2020 – 2023</small>
          </div>
        </div>

        <div class="timeline-item">
          <span class="dot"></span>
          <div class="timeline-content">
            <h4>Software Developer</h4>
            <p>Happy Visitor</p>
            <small>1 Year Experience</small>
          </div>
        </div>
      </div>

      <!-- RESUME BUTTON -->
       
      <a href="assets/updatedResume.pdf" class="resume-btn" download>
        Download Resume
      </a>

    </div>
  </div>
</section>
